// Color
$color-primary	:#123456;
$color-secondary:#123456;

$color-soft		:#ffffff;
$color-dark		:#353548;
$color-bg		:#f3f4f6;

$color-error	:#123456;
$color-success	:#123456;


// fonts
$font-base		:'Montserrat', sans-serif;
$font-heading 	:'Merriweather', Georgia, serif;
